@use "./mixins-vars"as *;

h1 {
    font-weight: 800;
    font-size: clamp-px(22, 40);
    line-height: 120%;
    color: var(--grey07);
}

h2 {}

h3 {}

h4 {}

.block-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp-px(20, 40);
    line-height: 120%;
    color: var(--grey06);
    margin-bottom: clamp-px(20, 48);
    align-self: center;

    @include respond-to('tab') {
        text-align: center;
    }
}

p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #fff;

    &:not(:last-child) {
        margin-bottom: clamp-px(18, 25);
    }

    &.strong {
        font-weight: 600;
        font-size: 18px;
    }
}

ul.ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & li {
        font-weight: 400;
        font-size: clamp-px(14, 16);
        line-height: 140%;
        color: var(--white);
        position: relative;
        padding-left: clamp-px(15, 25);

        &::before {
            position: absolute;
            left: 0;
            top: 10px;
            content: "";
            display: flex;
            width: clamp-px(3, 5);
            height: clamp-px(3, 5);
            border-radius: 100%;
            background-color: var(--white);
        }
    }
}

ol {}

::-webkit-input-placeholder {
    font-family: var(--ff);
    color: var(--grey06);
}

:-ms-input-placeholder {
    font-family: var(--ff);
    color: var(--grey06);
}

:-moz-placeholder {
    font-family: var(--ff);
    color: var(--grey06);
}

::-moz-placeholder {
    font-family: var(--ff);
    color: var(--grey06);
}