@use "../main/mixins-vars.scss"as *;

.basket {}

.basket__container {
    display: flex;
    flex-direction: column;
}

.basket__container-inner {
    display: flex;
    flex-direction: column;
    border: 2px solid #f5f5f5;
    border-radius: 20px;
    padding: clamp-px(0, 26);
    margin-bottom: clamp-px(20, 46);

    @include respond-to("tab") {
        border: none;
        border-radius: 0;
        padding: 0;
    }
}

.basket-empty-block {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: clamp-px(20, 30);
    background: var(--grey01);

    @include respond-to("tel") {
        flex-direction: column;
    }
}

.basket-empty-block__info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.basket-empty-block__info-icon {}

.basket-empty-block__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey07);
}

.basket-empty-block__btn {
    min-width: 175px;

    @include respond-to("tel") {
        width: 100%;
    }
}

.basket__title-box {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: clamp-px(20, 26);
}

.basket__title {
    margin-bottom: 0;
}

.basket-reset {
    font-weight: 400;
    font-size: clamp-px(14, 16);
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--red01);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        color: #870d00;
    }
}

.basket-table {
    display: flex;
    flex-direction: column;
}

.basket-table__head {
    margin-bottom: 9px;
    display: grid;
    grid-template-columns: minmax(300px, 650px) minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px) minmax(50px, 80px);
    background: var(--grey01);
    border-radius: 10px;
    padding: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1e1e1e;

    &>div {
        &:not(:first-child) {
            justify-self: center;
            align-self: center;
        }

    }

    @include respond-to("tab") {
        display: none;
    }

}

.basket-table__head-name {
    padding-left: 20px;
}

.basket-table__head-price {}

.basket-table__head-count {}

.basket-table__head-total {}

.basket-table__inner {
    display: grid;
    gap: clamp-px(12, 15);

}

.basket-table__inner-row {
    display: grid;
    grid-template-columns: minmax(300px, 650px) minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px) minmax(50px, 80px);
    border-bottom: 2px solid #f5f5f5;
    padding: 20px 0;

    &>div {
        &:not(:first-child) {
            justify-self: center;
            align-self: center;
        }

        &:last-child {
            justify-self: end;
            align-self: center;
        }

    }

    @include respond-to('tab') {
        &>div {
            &:first-child {
                grid-column: 1/-1;
            }

            &:not(:first-child) {
                justify-self: start;

            }

            &:last-child {
                justify-self: end;
                align-self: center;
                grid-column: span 1;
            }

        }

        grid-template-columns: minmax(0, 650px) minmax(0, 200px) minmax(0, 200px) minmax(0, 80px);
        grid-template-rows: repeat(2, auto);
    }
}

.basket-table__inner-name {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 60px;

    @include respond-to('tab') {
        padding-right: 0;
        margin-bottom: 30px;
    }
}

.basket-table__inner-name-img {
    width: 80px;
    aspect-ratio: 1/1;
    position: relative;
}

.basket-table__inner-name-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1e1e1e;
}

.basket-table__inner-price {
    @include respond-to('tab') {
        display: none;
    }
}

.basket-table__inner-count {}

.basket-table__inner-total {
    @include respond-to('tab') {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        grid-column: span 2;
        justify-self: end !important;
    }
}

.btn__basket-del {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: var(--grey04);
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        background: #3d3d3d;
    }
}



.counter {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    width: 112px;
    height: 30px;
}

.counter button {
    background-color: #f5f5f5;
    border: none;
    // padding: 10px 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.counter button:hover {
    background-color: #e0e0e0;
}

.counter input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: white;
    padding: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #383838;
    height: 26px;
}

.basket-table__footer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.basket-table__footer-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #1e1e1e;
}

.basket-table__footer-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    padding-right: clamp-px(0, 130);

}

.btn__payment-invoice {
    align-self: flex-start;
    border-radius: 16px;
    padding: 24px 48px;
    width: 297px;
    height: 72px;

    @include respond-to('tab') {
        border-radius: 10px;
        padding: 12px 32px;
        width: 100%;
        height: 48px;
    }
}

.btn__payment-invoice-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include respond-to('tab') {
        & .btn {
            width: 100%;
        }

    }
}

.main-order-box {
    display: flex;
    flex-direction: column;
}

.card-order-info-box {
    border-radius: 20px;
    padding: 30px;
    background: var(--grey07);
}

.card-order-info-box__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--grey05);
    padding-bottom: 20px;

    @include respond-to("nout") {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.card-order-info-box__top-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    & span {
        font-size: 16px;
        line-height: 150%;
        color: var(--white01);

        &:first-child {
            font-weight: 400;
        }

        &:last-child {
            font-weight: 700;
        }
    }
}

.card-order-info-box__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    @include respond-to("nout") {
        display: none;
    }
}

ul.partner-ul.red {
    gap: 10px;

    & li {
        color: var(--white01);
        margin-left: 0;
        padding-left: 12px;

        &::before {
            background-color: var(--red);
        }
    }
}

.order__basket-section {
    margin-bottom: clamp-px(10, 30);
}

.order-tabs {
    & .tabs__title-box {
        gap: clamp-px(10, 60);
        margin-bottom: 30px;
    }

    & .tabs__title {
        border: none;
        background-color: transparent;

        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        user-select: none;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border: 2px solid #333;
            border-radius: 50%;
            background-color: transparent;
            /* Важно: прозрачный фон */
            transition: all 0.2s ease;
        }

        &.active {
            border: none;
            background-color: transparent;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(50%, -50%);
                width: 10px;
                height: 10px;
                background-color: #333;
                border-radius: 50%;
                transition: all 0.2s ease;
            }
        }
    }
}

.order-form {
    width: 100%;
    padding: 0;

    .form__row {
        display: flex;
        flex-direction: column;

        & label {
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: var(--grey05);
            margin-bottom: 6px;
            display: inline-block;
        }

        & textarea {
            border: 1px solid #d6d6d6;
            border-radius: 10px;
            padding: clamp(1rem, 0.823943662rem + 0.7511737089vw, 1.5rem);
            font-weight: 400;
            font-size: clamp(0.875rem, 0.8309859155rem + 0.1877934272vw, 1rem);
            line-height: 120%;
            color: var(--grey06);
            background-color: var(--white);
            transition: 0.3s;
        }
    }

    & .form__row-two {
        display: flex;
        align-items: center;
        gap: 20px;

        & .form__row {
            flex: 0 1 calc((100% - 20px * 1) / 2);

            & label {
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: var(--grey05);
                margin-bottom: 6px;
                display: inline-block;
            }


        }

        @include respond-to('tab') {
            flex-direction: column;
        }
    }
}

.order-form__btn-box {
    display: flex;
    align-items: center;
    gap: 20px;

    & .btn {
        flex: 0 1 calc((100% - 20px * 1) / 2);
    }

    @include respond-to('tab') {
        flex-direction: column;
        align-items: flex-start;
    }

    @include respond-to('tel') {
        & .btn {
            width: 100%;
        }

        & .agree-box {
            margin-left: 5px;
        }
    }
}

.order-title {
    margin-bottom: clamp-px(20, 40) !important;
}