@use "../main/mixins-vars.scss"as *;

.category-section {
    margin-bottom: clamp-px(30, 60);
    padding: 0 clamp(1rem, 0.911971831rem + 0.3755868545vw, 1.25rem);
}

.category-section__container {}

.category__card {
    border-radius: clamp-px(16, 20);
    padding: clamp-px(15, 20) clamp-px(20, 30);
    background: var(--grey01);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transition: 0.3s;
        filter: drop-shadow(2px 4px 6px rgba(114, 113, 113, 0.445));
    }

    @include respond-to("tel") {
        max-width: 300px;
    }
}

.category__card-img {
    width: clamp-px(40, 50);
    min-width: clamp-px(40, 50);
    height: clamp-px(65, 80);
    position: relative;
}

.category__card-text-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.category__card-title {
    font-weight: 700;
    font-size: clamp-px(14, 16);
    line-height: 150%;
    color: var(--grey07);
}

.category__card-list {
    & li {
        font-weight: 400;
        font-size: clamp-px(12, 14);
        line-height: 120%;
        color: var(--grey07);
        display: flex;
        align-items: center;
        gap: 7px;
    }
}