@use "../main/mixins-vars"as *;

footer {
    padding: 0 clamp-px(16, 20);
    background-color: var(--black);
    padding: 0 20px;
    color: var(--white);
}

.footer__container {
    display: grid;
    column-gap: clamp-px(20, 40);
    row-gap: clamp-px(20, 40);
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    padding: clamp-px(40, 80) 0;

    @include respond-to("pc-old") {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }

    @include respond-to("tab") {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }
}

.footer__col {
    &:first-child {
        width: 220px;
        margin-right: clamp-px(1, 70);

        @include respond-to("tab") {
            grid-column: 1/-1;
            justify-self: center;
            text-align: center;
        }
    }

    &:nth-child(2) {
        max-width: 190px;
    }

    &:nth-child(3) {
        max-width: 190px;
    }

    &:nth-child(4) {
        max-width: 190px;
    }

    &:nth-child(5) {
        grid-column: span 2;
        max-width: 290px;

        @include respond-to("tab") {
            display: none;
        }
    }

    &:last-child {
        grid-row: 2/3;
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-weight: 600;
        font-size: 14px;
        color: var(--grey03);

        @include respond-to("pc-old") {
            grid-row: span 1;
            grid-column: span 1;
        }

        @include respond-to("tab") {
            flex-direction: column;
            gap: 10px;
            justify-content: flex-end;
            text-align: left;
            align-items: flex-start;
        }
    }
}

.footer-logo {
    display: block;
    width: clamp-px(142, 197);
    margin-bottom: 20px;

    @include respond-to("tab") {
        margin: 0 auto 10px auto;
    }
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey01);
    margin-bottom: 10px;
}

.work-day-footer {
    font-weight: 500;
    font-size: 14px;
    color: var(--grey01);
    margin-bottom: 10px;
}

.footer-phone {
    font-weight: 700;
    font-size: 16px;
    color: var(--grey01);
    margin-bottom: 10px;
    display: block;
}

.footer-mail {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--grey01);
    margin-bottom: clamp-px(20, 26);
    display: block;
}

.social-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__social-box {
    @include respond-to("tab") {
        justify-content: center;
    }
}


.social-link {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: var(--red01);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey01);
    margin-bottom: 22px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 20px;
}

.footer-menu-item {}

.footer-menu-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--white01);
    display: block;
}

.form-footer {
    & .form__row {
        & input {
            backdrop-filter: blur(7.3621063232421875px);
            background: rgba(255, 255, 255, 0.1);
            padding: 10px 20px;
            border: none;

            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: var(--grey03);

            &::-webkit-input-placeholder {
                font-family: var(--ff);
                color: var(--grey03);
            }

            &:-ms-input-placeholder {
                font-family: var(--ff);
                color: var(--grey03);
            }

            &:-moz-placeholder {
                font-family: var(--ff);
                color: var(--grey03);
            }

            &::-moz-placeholder {
                font-family: var(--ff);
                color: var(--grey03);
            }
        }
    }
}