@use "../main/mixins-vars"as *;
@use "../main/mixins-vars"as *;

.news__container {
    display: flex;
    flex-direction: column;
}

.news {
    padding: 0 clamp-px(16, 20);
    margin-bottom: clamp(1.875rem, 1.2147887324rem + 2.8169014085vw, 3.75rem);
}

.news__card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: clamp-px(10, 20);
    row-gap: clamp-px(10, 40);
    margin-bottom: clamp-px(20, 40);

    @include respond-to('tab') {
        grid-template-columns: repeat(2, 1fr);
    }
}

.news__card {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--grey02);


}

.news__card-img {
    aspect-ratio: 1/0.57;
    position: relative;
    margin-bottom: clamp-px(10, 20);
    border-radius: clamp-px(10, 20);
    overflow: hidden;

    & .img-bg {
        border-radius: clamp-px(10, 20);
        transition: 0.3s;

        &:hover {
            transition: 0.3s;
            transform: scale(102%);

        }
    }
}



.news__card-info-box {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: clamp-px(10, 16);
    padding: 0 clamp-px(0, 20);
}

.news__card-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey07);
}

.news__card-tag {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey07);
}

.news__card-text-box {
    padding: 0 clamp-px(0, 20);
    display: flex;
    flex-direction: column;
}

.news__card-title {
    font-weight: 700;
    font-size: clamp-px(14, 20);
    line-height: 120%;
    color: var(--grey06);
    margin-bottom: clamp-px(10, 16);
}

.news__card-link {
    margin-top: auto;
}

.news__title {
    margin-bottom: clamp-px(20, 40) !important;
}