<section class='about'>
    <div class='container about__container'>

        <div class="about__top">
            <div class="about__text-box">

                <div class="about__text-box-title">
                    ОКАТЕС — ваш надёжный партнёр в мире автоматизации!
                </div>

                <p>
                    Мы — Компания ОвенКомплектАвтоматика, уже 25 лет являемся одним из ведущих российских поставщиков
                    оборудования для промышленной автоматизации самых разных брендов, широко востребованных в бытовых
                    и производственных процессах.
                </p>

                <p>
                    Последние годы вопрос создания собственного бренда стоял довольно остро.
                </p>

                <p>
                    Нам искренне хотелось угодить клиентам, сделать их опыт взаимодействия с нами как можно более
                    приятным.
                </p>

            </div>

            <div class="about__img-box">

                <div class="about__img">
                    <img width='340' height='340' class='img-bg' src='@img/about__img-1.png' alt=''>
                </div>

                <div class="about__img-text-box">
                    <div class="about__img-title">
                        Язвинский Станислав Геннадиевич
                    </div>

                    <div class="about__img-subtitle">
                        Генеральный Директор
                    </div>
                </div>

            </div>
        </div>

        <div class="about__bottom">

            <h2 class="block-title about__bottom-title">
                Но оставались нюансы, которые невозможно было решить своими силами, поэтому:
            </h2>

            <div class="about__bottom-card-box">

                <div class="about__bottom-card">
                    <div class="about__bottom-card-title">
                        2016 <span>год</span>
                    </div>

                    <div class="about__bottom-card-text">
                        Принято решение развивать собственный бренд
                    </div>
                </div>

                <div class="about__bottom-card">
                    <div class="about__bottom-card-title">
                        9 <span>лет</span>
                    </div>

                    <div class="about__bottom-card-text">
                        Непрерывной работы
                    </div>
                </div>

                <div class="about__bottom-card">
                    <div class="about__bottom-card-title">
                        2024 <span>год</span>
                    </div>

                    <div class="about__bottom-card-text">
                        Анонсирован запуск продаж<br> продукции нашей компании под<br> брендом OKATEC
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>