<section class='articles-prev'>
    <div class='container articles-prev__container'>
        <div class="title-box">
            <h2 class="block-title articles-prev__title">
                Полезные материалы и статьи
            </h2>

            <a href="#" class="btn articles-prev__btn">
                Показать еще
            </a>
        </div>

        <div class="articles-prev__card-box">
            <div class="articles-prev__card">
                <div class="articles-prev__card-img">
                    <img class='img-bg' src='@img/articles-prev-img-1.png' alt='' loading='lazy'>
                </div>

                <div class="articles-prev__card-bottom">
                    <div class="articles-prev__date">
                        4 июня 2025
                    </div>

                    <div class="articles-prev__title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link articles-prev-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>


            </div>

            <div class="articles-prev__card">
                <div class="articles-prev__card-img">
                    <img class='img-bg' src='@img/articles-prev-img-2.png' alt='' loading='lazy'>
                </div>

                <div class="articles-prev__card-bottom">
                    <div class="articles-prev__date">
                        4 июня 2025
                    </div>

                    <div class="articles-prev__title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link articles-prev-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>


            </div>

            <div class="articles-prev__card">
                <div class="articles-prev__card-img">
                    <img class='img-bg' src='@img/articles-prev-img-3.png' alt='' loading='lazy'>
                </div>

                <div class="articles-prev__card-bottom">
                    <div class="articles-prev__date">
                        4 июня 2025
                    </div>

                    <div class="articles-prev__title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link articles-prev-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>


            </div>

            <div class="articles-prev__card">
                <div class="articles-prev__card-img">
                    <img class='img-bg' src='@img/articles-prev-img-4.png' alt='' loading='lazy'>
                </div>

                <div class="articles-prev__card-bottom">
                    <div class="articles-prev__date">
                        4 июня 2025
                    </div>

                    <div class="articles-prev__title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link articles-prev-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>


            </div>

        </div>

        <a href="#" class="btn articles-prev__btn-mob">
            Показать еще
        </a>
    </div>
</section>