<section class='cases'>
    <div class='container cases__container'>
        <div class="title-box">
            <h2 class="block-title cases__title">
                Наши реализованные проекты
            </h2>

            <a href="#" class="btn cases__btn">
                Больше проектов
            </a>
        </div>

        <div class="cases__card-box">
            <div class="cases__card">

                <div class="slider-wrap">
                    <!-- Слайдер -->
                    <div class='swiper cases-prev-slider'>
                        <!-- Обертка слайдера -->
                        <div class='swiper-wrapper'>
                            <!-- Слайды -->
                            <div class='swiper-slide'>
                                <div class="cases-prev-slide">
                                    <img class='img-bg' src='@img/cases-img-3.png' alt='' loading='lazy'>
                                </div>
                            </div>

                            <div class='swiper-slide'>
                                <div class="cases-prev-slide">
                                    <img class='img-bg' src='@img/cases-img-3.png' alt='' loading='lazy'>
                                </div>
                            </div>

                            <div class='swiper-slide'>
                                <div class="cases-prev-slide">
                                    <img class='img-bg' src='@img/cases-img-3.png' alt='' loading='lazy'>
                                </div>
                            </div>
                        </div>
                        <!-- Кнопки навигации -->
                        <div class="slider-btn-box cases__slider-btn-box">
                            <div class='slider-btn slider-btn-prev'></div>
                            <div class='slider-btn slider-btn-next'></div>
                        </div>

                    </div>
                </div>

                <div class="cases__card-info-box">
                    <div class="cases__card-top">
                        <div class="cases__card-about-tab">
                            <div class="cases__card-about-tab-name">
                                Сроки <br>проекта
                            </div>

                            <div class="cases__card-about-tab-val">
                                24 дня
                            </div>
                        </div>

                        <div class="cases__card-about-tab">
                            <div class="cases__card-about-tab-name">
                                Установленно <br>устройств
                            </div>

                            <div class="cases__card-about-tab-val">
                                325
                            </div>
                        </div>
                    </div>

                    <div class="cases__card-bottom">
                        <div class="cases__card-title">
                            Оборудование серверного помещение
                        </div>

                        <div class="cases__card-text">
                            Обустройство серверного помещения средствами автоматизации с целью обеспечения бесперебойной
                            работы серверного оборудования
                        </div>

                        <a class="link cases__card-link" href="#">
                            <span>Подробнее</span>
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                    stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cases__card">
                <a class="cases__oll-card-link" href="#"></a>
                <img class='img-bg' src='@img/cases-img-1.png' alt='' loading='lazy'>

                <div class="tag cases__tag">
                    Электростанция
                </div>

                <div class="cases__name">
                    Установка датчиков
                </div>
            </div>

            <div class="cases__card">
                <a class="cases__oll-card-link" href="#"></a>
                <img class='img-bg' src='@img/cases-img-2.png' alt='' loading='lazy'>

                <div class="tag cases__tag">
                    Электростанция
                </div>

                <div class="cases__name">
                    Установка датчиков
                </div>
            </div>
        </div>

        <a href="#" class="btn cases__btn-mob">
            Больше проектов
        </a>
    </div>
</section>