<div class='catalog-main'>
    <div class='container catalog-main__container'>

        <div class="catalog-main__card-box">

            <div class="catalog-main__card">

                <div class="catalog-main__card-img">
                    <img width='240' height='240' class='img-bg' src='@img/catalog-main__img-1.png' alt=''
                        loading='lazy'>
                </div>

                <div class="catalog-main__card-text-box">

                    <div class="catalog-main__card-title">
                        Датчики
                    </div>

                    <ul class="catalog-main__card-list">
                        <li>
                            <a href="#">
                                Датчики уровня
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Датчики-реле давления
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Датчики-реле протока
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Датчики-реле разности давления
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="catalog-main__card">

                <div class="catalog-main__card-img">
                    <img width='240' height='240' class='img-bg' src='@img/catalog-main__img-2.png' alt=''
                        loading='lazy'>
                </div>

                <div class="catalog-main__card-text-box">

                    <div class="catalog-main__card-title">
                        Устройства коммутации
                    </div>

                    <ul class="catalog-main__card-list">
                        <li>
                            <a href="#">
                                Твердотельные реле
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Радиаторы охлаждения
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

            <div class="catalog-main__card">

                <div class="catalog-main__card-img">
                    <img width='240' height='240' class='img-bg' src='@img/catalog-main__img-3.png' alt=''
                        loading='lazy'>
                </div>

                <div class="catalog-main__card-text-box">

                    <div class="catalog-main__card-title">
                        Микроклимат шкафов управления
                    </div>

                    <ul class="catalog-main__card-list">
                        <li>
                            <a href="#">
                                Вентиляторы, фильтры, решетки
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Нагреватели
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Светильники
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Термостаты
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Элементы выравнивания давления
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="catalog-main__card">

                <div class="catalog-main__card-img">
                    <img width='240' height='240' class='img-bg' src='@img/catalog-main__img-4.png' alt=''
                        loading='lazy'>
                </div>

                <div class="catalog-main__card-text-box">

                    <div class="catalog-main__card-title">
                        Частотные преобразователи 
                    </div>

                    <ul class="catalog-main__card-list">
                        <li>
                            <a href="#">
                                Преобразователи частоты OKT100
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Преобразователи частоты OKT150
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Преобразователи частоты OKT200
                            </a>
                        </li>


                    </ul>

                </div>

            </div>

            <div class="catalog-main__card">

                <div class="catalog-main__card-img">
                    <img width='240' height='240' class='img-bg' src='@img/catalog-main__img-5.png' alt=''
                        loading='lazy'>
                </div>

                <div class="catalog-main__card-text-box">

                    <div class="catalog-main__card-title">
                        Электроприводы
                    </div>

                    <ul class="catalog-main__card-list">
                        <li>
                            <a href="#">
                                Приводы воздушные без<br> пружинного возврата
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Приводы воздушные с пружинным<br> возвратом
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Приводы противопожарного<br> клапана
                            </a>
                        </li>


                    </ul>

                </div>

            </div>

        </div>

    </div>
</div>