<section class='catalog-prev'>
    <div class='container catalog-prev__container'>

        <h2 class="block-title catalog-prev__title">
            Каталог
        </h2>

        <div class="catalog-prev__subtitle">
            Оборудование с гарантией эффективности
        </div>

        <div class="catalog-prev__card-box">
            <div class="catalog-prev__card">
                <a class="catalog-prev__card-link" href="#"></a>
                <img class='img-bg' src='@img/catalog-img-1.png' alt='' loading='lazy'>

                <div class="catalog-prev__card-title">
                    Датчики
                </div>

                <div class="catalog-prev__card-subtitle">
                    Контроль параметров работы оборудования 24/7
                </div>
            </div>

            <div class="catalog-prev__card">
                <a class="catalog-prev__card-link" href="#"></a>
                <img class='img-bg' src='@img/catalog-img-2.png' alt='' loading='lazy'>

                <div class="catalog-prev__card-title">
                    Устройства коммутации
                </div>

                <div class="catalog-prev__card-subtitle">
                    Надёжные решения для управления цепями и защиты систем
                </div>
            </div>

            <div class="catalog-prev__card">
                <a class="catalog-prev__card-link" href="#"></a>
                <img class='img-bg' src='@img/catalog-img-3.png' alt='' loading='lazy'>

                <div class="catalog-prev__card-title">
                    Микроклимат шкафов управления
                </div>

                <div class="catalog-prev__card-subtitle">
                    Поддержание идеальных параметров для бесперебойной работы оборудования
                </div>
            </div>

            <div class="catalog-prev__card">
                <a class="catalog-prev__card-link" href="#"></a>
                <img class='img-bg' src='@img/catalog-img-4.png' alt='' loading='lazy'>

                <div class="catalog-prev__card-title">
                    Частотные преобразователи
                </div>

                <div class="catalog-prev__card-subtitle">
                    Для точного контроля двигателей и экономии энергии
                </div>
            </div>

            <div class="catalog-prev__card">
                <a class="catalog-prev__card-link" href="#"></a>
                <img class='img-bg' src='@img/catalog-img-5.png' alt='' loading='lazy'>

                <div class="catalog-prev__card-title">
                    Электроприводы
                </div>

                <div class="catalog-prev__card-subtitle">
                    Мощные и долговечные решения для автоматизации производств
                </div>
            </div>

            <div class="catalog-prev__card">
                <a class="catalog-prev__card-link" href="#"></a>
                <img class="catalog-prev__card-logo" src="@img/webp/logo-footer.webp" alt="">

                <div class="catalog-prev__card-title">
                    полный Каталог
                </div>

                <a class="catalog-pre-more" href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3L21.931 21.931" stroke="white" stroke-width="2.8046" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M21.931 3V21.931H3" stroke="white" stroke-width="2.8046" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </a>

            </div>
        </div>
    </div>
</section>