<div class='category-section'>
    <div class='container category-section__container'>
        <div class="grid gap-5 grid-cols-[repeat(auto-fit,minmax(250px,1fr))] scroll-snap-mob">
            <div class="category__card scroll-snap__item">
                <div class="category__card-img">
                    <img class='img-bg' src='@img/category__card-img-1.png' alt='' loading='lazy'>
                </div>

                <div class="category__card-text-box">
                    <div class="category__card-title">
                        Преобразователи частоты OKT100
                    </div>

                    <ul class="category__card-list">
                        <li>
                            <span>
                                Релейные выходы:
                            </span>
                            <span>
                                1
                            </span>
                        </li>
                        <li>
                            <span>
                                Аналоговые входы:
                            </span>
                            <span>
                                1
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="category__card scroll-snap__item">
                <div class="category__card-img">
                    <img class='img-bg' src='@img/category__card-img-2.png' alt='' loading='lazy'>
                </div>

                <div class="category__card-text-box">
                    <div class="category__card-title">
                        Преобразователи частоты OKT110
                    </div>

                    <ul class="category__card-list">
                        <li>
                            <span>
                                Релейные выходы:
                            </span>
                            <span>
                                1
                            </span>
                        </li>
                        <li>
                            <span>
                                Аналоговые входы:
                            </span>
                            <span>
                                1
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="category__card scroll-snap__item">
                <div class="category__card-img">
                    <img class='img-bg' src='@img/category__card-img-3.png' alt='' loading='lazy'>
                </div>

                <div class="category__card-text-box">
                    <div class="category__card-title">
                        Преобразователи частоты OKT200
                    </div>

                    <ul class="category__card-list">
                        <li>
                            <span>
                                Релейные выходы:
                            </span>
                            <span>
                                1
                            </span>
                        </li>
                        <li>
                            <span>
                                Аналоговые входы:
                            </span>
                            <span>
                                1
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="category__card scroll-snap__item">
                <div class="category__card-img">
                    <img class='img-bg' src='@img/category__card-img-4.png' alt='' loading='lazy'>
                </div>

                <div class="category__card-text-box">
                    <div class="category__card-title">
                        Аксессуары
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>