<section class='hero'>
    <div class='container hero__container'>
        <div class="hero__banner">
            <div class="hero__banner-left-col">
                <h1 class="hero__banner-title">
                    Производство, поставка оборудования и средств автоматизации
                </h1>

                <ul class="hero__banner-ul">
                    <li>
                        Индивидуальные решения – под ваш бюджет и задачи

                    </li>
                    <li>
                        Проверенные технологии – повышение КПД + контроль качества
                    </li>
                    <li>
                        Надёжный партнёр – 25 лет на рынке, гарантия результата
                    </li>
                </ul>

                <button class="btn hero__banner-btn">
                    Подобрать оборудование
                </button>
            </div>
            <div class="hero__banner-right-col">
                <div class="hero__banner-img-wrap">
                    <picture>
                        <!-- webp -->
                        <source srcset='@img/webp/hero-bg.webp' type='image/webp' />
                        <!-- original -->
                        <img class='img-bg' src='@img/hero-bg.png' class='img-responsive' alt='' loading='lazy' />
                    </picture>
                </div>

                <div class="hero__banner-info-card">
                    <div class="hero__banner-info-card-title">
                        -70%
                    </div>

                    <div class="hero__banner-info-card-text">
                        Сократите расходы на 70% с автоматизацией от OKATEC
                    </div>
                </div>
            </div>
        </div>

        <div class="hero__teasers">
            <div class="hero__teaser">
                <div class="hero__teaser-title-box">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_28_502)">
                            <path
                                d="M31.2347 14.7005C31.7178 14.7005 32.184 14.7741 32.6228 14.9103L36.6214 10.9118L34.7578 9.0482L29.1055 14.7005H31.2347ZM39.3135 13.6041L38.2785 12.5691L34.6574 16.1902C35.441 17.0284 35.9221 18.1527 35.9221 19.388V20.31L39.3135 16.9186C40.2289 16.0034 40.2289 14.5194 39.3135 13.6041ZM33.1005 7.39102L26.396 0.686484C25.4807 -0.228828 23.9967 -0.228828 23.0814 0.686484L9.06737 14.7005H25.791L33.1005 7.39102ZM6.15112 24.4738H9.72159V27.1092H6.15112V24.4738Z"
                                fill="white" />
                            <path
                                d="M31.2347 17.0443H2.34375C1.0493 17.0443 0 18.0936 0 19.3881V37.6563C0 38.9507 1.0493 40 2.34375 40H31.2347C32.5291 40 33.5784 38.9507 33.5784 37.6563V19.3881C33.5784 18.0936 32.5291 17.0443 31.2347 17.0443ZM3.80734 22.13H12.0653V29.453H3.80734V22.13ZM8.3668 34.9142H3.73445V32.5705H8.3668V34.9142ZM15.5258 34.9142H10.8934V32.5705H15.5258V34.9142ZM22.6849 34.9142H18.0526V32.5705H22.6849V34.9142ZM29.844 34.9142H25.2116V32.5705H29.844V34.9142Z"
                                fill="white" />
                        </g>
                        <defs>
                            <clipPath id="clip0_28_502">
                                <rect width="40" height="40" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <div class="hero__teaser-title">
                        Острочка платежа для <br class="block sm:hidden"> системных интеграторов <br
                            class="block sm:hidden"> и OEM производителей
                    </div>


                </div>

                <div class="hero__teaser-text">
                    Наши решения работают на заводах, в энергетике и инфраструктурных объектах по всей России.
                </div>
            </div>
            <div class="hero__teaser">
                <div class="hero__teaser-title">
                    25
                </div>

                <div class="hero__teaser-text">
                    25 лет на рынке
                </div>
            </div>
            <div class="hero__teaser">
                <div class="hero__teaser-title">
                    2
                </div>

                <div class="hero__teaser-text">
                    2 года гарантии
                </div>
            </div>
            <div class="hero__teaser">
                <div class="hero__teaser-title">
                    60 000+
                </div>

                <div class="hero__teaser-text">
                    Более 60 000 едениц товара в наличии <br class="block sm:hidden"> на складе
                </div>
            </div>
        </div>
    </div>
</section>