<section class='main-form-section'>
    <div class='container main-form__container'>

        <div class="main-form__text-col">
            <div class="main-form__subtitle">
                Готовы сократить затраты на энергию?
            </div>

            <h2 class="main-form__title">
                Оставьте заявку — мы подберем подходящее оборудование и рассчитаем экономию для вашего производства
            </h2>

            <div class="main-form__sale-box">
                <div class="main-form__sale-name">
                    -70%
                </div>

                <div class="main-form__sale-val">
                    Сократите <span class="font-bold">расходы на 70%</span> с автоматизацией от OKATEC
                </div>
            </div>
        </div>

        <div class="main-form__form-col">
            <form class="form main-form">

                <div class="form-text-box">
                    <div class="form-text-box-img">
                        <img class='img-bg' src='@img/form-text-box-img.png' alt='' loading='lazy'>
                    </div>

                    <div class="form-text-box-text">
                        Мы свяжимся с вами в течение 30 минут и озвучим предстоящую выгоду от сотрудничества
                    </div>
                </div>

                <div class="form__row">

                    <input type="text" name="name" placeholder="Ваше имя">
                </div>

                <div class="form__row">

                    <input type="text" name="tel" placeholder="Ваш телефон">
                </div>

                <button class="btn main-form__btn" type="submit">Оставить заявку</button>


                <div class="agree-box">
                    <input class="agree-check" type="checkbox" checked>
                    <span>
                        Я даю разрешение на обработку персональных данных
                    </span>
                </div>
            </form>
        </div>

    </div>
</section>