<div class='news'>
    <div class='container news__container'>

        <div class="second-filter__box scroll-snap">
            <button class="second-filter__item scroll-snap__item active">
                Показать все
            </button>

            <button class="second-filter__item scroll-snap__item">
                Новости
            </button>

            <button class="second-filter__item scroll-snap__item">
                Полезное
            </button>


            <button class="second-filter__item scroll-snap__item">
                Тема 3
            </button>
        </div>

        <div class="news__card-box">

            <div class="news__card">

                <a href="#" class="news__card-img">
                    <img width='420' height='240' class='img-bg' src='@img/news__card-img-1.png' alt='' loading='lazy'>
                </a>

                <div class="news__card-info-box">
                    <div class="news__card-date">
                        04.06.2025
                    </div>

                    <div class="news__card-tag">
                        Новости
                    </div>
                </div>

                <div class="news__card-text-box">

                    <div class="news__card-title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link news__card-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>

            </div>

            <div class="news__card">

                <a href="#" class="news__card-img">
                    <img width='420' height='240' class='img-bg' src='@img/news__card-img-2.png' alt='' loading='lazy'>
                </a>

                <div class="news__card-info-box">
                    <div class="news__card-date">
                        04.06.2025
                    </div>

                    <div class="news__card-tag">
                        Новости
                    </div>
                </div>

                <div class="news__card-text-box">

                    <div class="news__card-title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link news__card-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>

            </div>

            <div class="news__card">

                <a href="#" class="news__card-img">
                    <img width='420' height='240' class='img-bg' src='@img/news__card-img-3.png' alt='' loading='lazy'>
                </a>

                <div class="news__card-info-box">
                    <div class="news__card-date">
                        04.06.2025
                    </div>

                    <div class="news__card-tag">
                        Новости
                    </div>
                </div>

                <div class="news__card-text-box">

                    <div class="news__card-title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link news__card-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>

            </div>

            <div class="news__card">

                <a href="#" class="news__card-img">
                    <img width='420' height='240' class='img-bg' src='@img/news__card-img-2.png' alt='' loading='lazy'>
                </a>

                <div class="news__card-info-box">
                    <div class="news__card-date">
                        04.06.2025
                    </div>

                    <div class="news__card-tag">
                        Новости
                    </div>
                </div>

                <div class="news__card-text-box">

                    <div class="news__card-title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link news__card-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>

            </div>

            <div class="news__card">

                <a href="#" class="news__card-img">
                    <img width='420' height='240' class='img-bg' src='@img/news__card-img-3.png' alt='' loading='lazy'>
                </a>

                <div class="news__card-info-box">
                    <div class="news__card-date">
                        04.06.2025
                    </div>

                    <div class="news__card-tag">
                        Новости
                    </div>
                </div>

                <div class="news__card-text-box">

                    <div class="news__card-title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link news__card-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>

            </div>

            <div class="news__card">

                <a href="#" class="news__card-img">
                    <img width='420' height='240' class='img-bg' src='@img/news__card-img-1.png' alt='' loading='lazy'>
                </a>

                <div class="news__card-info-box">
                    <div class="news__card-date">
                        04.06.2025
                    </div>

                    <div class="news__card-tag">
                        Новости
                    </div>
                </div>

                <div class="news__card-text-box">

                    <div class="news__card-title">
                        Тренды автоматизации производства в 2025 году
                    </div>

                    <a class="link news__card-link" href="#">
                        <span>Подробнее</span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.67578 11.501H17.7578" stroke="#E33624" stroke-width="1.30478"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.2148 4.96094L17.7558 11.5019L11.2148 18.0429" stroke="#E33624"
                                stroke-width="1.30478" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>

            </div>

        </div>

        <button class="btn btn-tertiary self-center">
            Показать еще
        </button>

    </div>
</div>