<div class='production'>
    <div class='container production__container'>

        <div class="production__card-box">
            <div class="product_tabs-item__video-card">

                <div class="product_tabs-item__video-card-video">
                    <div class="vk-video-wrapper">

                        <iframe
                            src="https://vkvideo.ru/video_ext.php?oid=-70265905&amp;id=456239179&amp;hash=5cef285529871e93"
                            allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>

                    </div>
                </div>

                <div class="product_tabs-item__video-card-text">
                    Настройка частотного преобразователя для работы с&nbsp;клемм. Преобразователь
                    частоты OKATEC
                </div>

            </div>

            <div class="product_tabs-item__video-card">

                <div class="product_tabs-item__video-card-video">
                    <div class="vk-video-wrapper">

                        <iframe
                            src="https://vkvideo.ru/video_ext.php?oid=-70265905&amp;id=456239179&amp;hash=5cef285529871e93"
                            allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>

                    </div>
                </div>

                <div class="product_tabs-item__video-card-text">
                    Настройка частотного преобразователя для работы с&nbsp;клемм. Преобразователь
                    частоты OKATEC
                </div>

            </div>

            <div class="product_tabs-item__video-card">

                <div class="product_tabs-item__video-card-video">
                    <div class="vk-video-wrapper">

                        <iframe
                            src="https://vkvideo.ru/video_ext.php?oid=-70265905&amp;id=456239179&amp;hash=5cef285529871e93"
                            allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>

                    </div>
                </div>

                <div class="product_tabs-item__video-card-text">
                    Настройка частотного преобразователя для работы с&nbsp;клемм. Преобразователь
                    частоты OKATEC
                </div>

            </div>

            <div class="product_tabs-item__video-card">

                <div class="product_tabs-item__video-card-video">
                    <div class="vk-video-wrapper">

                        <iframe
                            src="https://vkvideo.ru/video_ext.php?oid=-70265905&amp;id=456239179&amp;hash=5cef285529871e93"
                            allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>

                    </div>
                </div>

                <div class="product_tabs-item__video-card-text">
                    Настройка частотного преобразователя для работы с&nbsp;клемм. Преобразователь
                    частоты OKATEC
                </div>

            </div>
        </div>

        <button class="btn btn-tertiary self-center">
            Показать еще
        </button>
    </div>
</div>