<section class='project-inner'>
    <div class='container project-inner__container'>

        <div class="project-inner__top-block">

            <div class="project-inner__top-block-left">
                <h2 class="project-inner__top-title">
                    Оборудование серверного помещение
                </h2>

                <div class="project-inner__top-text">
                    Обустройство серверного помещения средствами автоматизации с целью обеспечения бесперебойной работы
                    серверного оборудования
                </div>

                <div class="project-inner__top-info-card-box">

                    <div class="project-inner__top-info-card">

                        <div class="project-inner__top-info-card-name">
                            Сроки<br> проекта
                        </div>

                        <div class="project-inner__top-info-card-val">
                            24 дня
                        </div>

                    </div>

                    <div class="project-inner__top-info-card">

                        <div class="project-inner__top-info-card-name">
                            Установленно<br> устройств
                        </div>

                        <div class="project-inner__top-info-card-val">
                            325
                        </div>

                    </div>

                </div>
            </div>

            <div class="project-inner__top-block-right">

                <div class="project-inner__top-img">
                    <img width='243' height='205' class='img-bg' src='@img/project-inner__top-img-1.png' alt=''
                        loading='lazy'>
                </div>

                <div class="project-inner__top-img">
                    <img width='243' height='205' class='img-bg' src='@img/project-inner__top-img-1.png' alt=''
                        loading='lazy'>
                </div>

                <div class="project-inner__top-img">
                    <img width='243' height='205' class='img-bg' src='@img/project-inner__top-img-1.png' alt=''
                        loading='lazy'>
                </div>

                <div class="project-inner__top-img">
                    <img width='243' height='205' class='img-bg' src='@img/project-inner__top-img-1.png' alt=''
                        loading='lazy'>
                </div>

                <div class="project-inner__top-img">
                    <img width='243' height='205' class='img-bg' src='@img/project-inner__top-img-1.png' alt=''
                        loading='lazy'>
                </div>

                <div class="project-inner__top-img">
                    <img width='243' height='205' class='img-bg' src='@img/project-inner__top-img-1.png' alt=''
                        loading='lazy'>
                </div>



            </div>

        </div>

        <div class="project-inner-content content">

            <p>
                Обустройство серверного помещения средствами автоматизации с целью обеспечения бесперебойной работы
                серверного оборудования. Обустройство серверного помещения средствами автоматизации с целью обеспечения
                бесперебойной работы серверного оборудования. Обустройство серверного помещения средствами автоматизации
                с целью <strong>обеспечения бесперебойной работы</strong> серверного оборудования. Обустройство
                серверного помещения
                средствами автоматизации с целью обеспечения бесперебойной работы серверного оборудования. <a
                    href="#">Обустройство серверного помещения</a> средствами автоматизации с целью обеспечения
                бесперебойной работы серверного
                оборудования. Обустройство
                серверного помещения средствами автоматизации с целью
                обеспечения
                бесперебойной работы серверного оборудования.
            </p>

            <br>
            <br>

            <h3>
                Пример маркированного списка 1
            </h3>

            <ul class="black">
                <li>
                    Предоставление технической информации
                </li>

                <li>
                    Разъяснение условий покупки
                </li>

                <li>
                    Предложение альтернатив/подбор аналогов
                </li>
            </ul>

            <h3>Пример маркированного списка 2</h3>

            <ul>
                <li>
                    Предоставление технической информации
                </li>

                <li>
                    Разъяснение условий покупки
                </li>
                <li>
                    Предложение альтернатив/подбор аналогов
                </li>
            </ul>

            <h3>
                Пример нумерованного списка
            </h3>

            <ol>
                <li>
                    Предоставление технической информации
                </li>
                <li>
                    Разъяснение условий покупки
                </li>
                <li>
                    Предложение альтернатив/подбор аналогов
                </li>
            </ol>

            <h3>
                Собственная лаборатория
            </h3>

            <div class="border-gray">
                <p>
                    Каждая партия продукции OKATEC проходит строжайший контроль на современных испытательных стендах.
                    Мы проверяем каждый образец на соответствие ГОСТу и заявленным характеристикам, чтобы вы получали
                    только безупречные решения.
                </p>
            </div>

            <div class="double-block-img">
                <div>
                    <h3>
                        Собственная лаборатория
                    </h3>

                    <p>
                        Обустройство серверного помещения средствами автоматизации с целью обеспечения бесперебойной
                        работы серверного оборудования. Каждая партия продукции OKATEC проходит строжайший контроль
                        на современных испытательных стендах. Мы проверяем каждый образец на соответствие ГОСТу
                        и заявленным характеристикам, чтобы вы получали только безупречные решения.
                    </p>

                    <p>
                        Каждая партия продукции OKATEC проходит строжайший контроль на современных испытательных
                        стендах. Мы проверяем каждый образец на соответствие ГОСТу и заявленным характеристикам, чтобы
                        вы получали только безупречные решения.
                    </p>
                </div>

                <div>
                    <img src="@img/double-block-img.png" alt="">
                </div>

            </div>

        </div>

    </div>
</section>