<section class='projects'>
    <div class='container projects__container'>

        <div class="second-filter__box scroll-snap">
            <button class="second-filter__item scroll-snap__item active">
                Все проекты
            </button>

            <button class="second-filter__item scroll-snap__item">
                Серверная
            </button>

            <button class="second-filter__item scroll-snap__item">
                Электростанция
            </button>


            <button class="second-filter__item scroll-snap__item">
                Производство
            </button>
        </div>

        <div class="projects__card-box">

            <div class="cases__card">
                <a class="cases__oll-card-link" href="#"></a>
                <img class="img-bg" src="/images/cases-img-inner-1.png" alt="" loading="lazy">

                <div class="tag cases__tag">
                    Серверная
                </div>

                <div class="cases__name">
                    Оборудование серверного<br> помещение
                </div>
            </div>

            <div class="cases__card">
                <a class="cases__oll-card-link" href="#"></a>
                <img class="img-bg" src="/images/cases-img-1.png" alt="" loading="lazy">

                <div class="tag cases__tag">
                    Электростанция
                </div>

                <div class="cases__name">
                    Установка датчиков
                </div>
            </div>

            <div class="cases__card">
                <a class="cases__oll-card-link" href="#"></a>
                <img class="img-bg" src="/images/cases-img-inner-2.png" alt="" loading="lazy">

                <div class="tag cases__tag">
                    Производство
                </div>

                <div class="cases__name">
                    Установка датчиков
                </div>
            </div>

            <div class="cases__card">
                <a class="cases__oll-card-link" href="#"></a>
                <img class="img-bg" src="/images/cases-img-1.png" alt="" loading="lazy">

                <div class="tag cases__tag">
                    Электростанция
                </div>

                <div class="cases__name">
                    Установка датчиков
                </div>
            </div>

            <div class="cases__card">
                <a class="cases__oll-card-link" href="#"></a>
                <img class="img-bg" src="/images/cases-img-inner-2.png" alt="" loading="lazy">

                <div class="tag cases__tag">
                    Производство
                </div>

                <div class="cases__name">
                    Установка датчиков
                </div>
            </div>

            <div class="cases__card">
                <a class="cases__oll-card-link" href="#"></a>
                <img class="img-bg" src="/images/cases-img-inner-1.png" alt="" loading="lazy">

                <div class="tag cases__tag">
                    Серверная
                </div>

                <div class="cases__name">
                    Оборудование серверного<br> помещение
                </div>
            </div>

        </div>

        <button class="btn btn-tertiary self-center">
            Показать еще
        </button>

    </div>
</section>