<section class='replacing-brands'>
    <div class='container replacing-brands__container'>

        <h2 class="replacing-brands__title">
            Альтернативная замена брендам
        </h2>

        <div class="replacing-brands__card-box">
            <div class="replacing-brands__card">
                <img class='img-bg' src='@img/replacing-brands-img-1-1.png' alt='' loading='lazy'>

                <div class="replacing-brands__card-title">
                    INVT
                </div>
            </div>

            <div class="replacing-brands__card">
                <img class='img-bg' src='@img/replacing-brands-img-2.png' alt='' loading='lazy'>

                <div class="replacing-brands__card-title">
                    vesper
                </div>
            </div>

            <div class="replacing-brands__card">
                <img class='img-bg' src='@img/replacing-brands-img-3.png' alt='' loading='lazy'>

                <div class="replacing-brands__card-title">
                    ОВЕН
                </div>
            </div>

            <div class="replacing-brands__card">
                <img class='img-bg' src='@img/replacing-brands-img-4.png' alt='' loading='lazy'>

                <div class="replacing-brands__card-title">
                    ekf
                </div>
            </div>

            <div class="replacing-brands__card">
                <img class='img-bg' src='@img/replacing-brands-img-5.png' alt='' loading='lazy'>

                <div class="replacing-brands__card-title">
                    innovert
                </div>
            </div>

            <div class="replacing-brands__card">
                <img class='img-bg' src='@img/replacing-brands-img-6.png' alt='' loading='lazy'>

                <div class="replacing-brands__card-title">
                    instart
                </div>
            </div>

            <div class="replacing-brands__card">
                <img class='img-bg' src='@img/replacing-brands-img-7.png' alt='' loading='lazy'>

                <div class="replacing-brands__card-title">
                    prompower
                </div>
            </div>

            <div class="replacing-brands__card">
                <img class='img-bg' src='@img/replacing-brands-img-8.png' alt='' loading='lazy'>

                <div class="replacing-brands__card-title">
                    IEK
                </div>
            </div>
        </div>

    </div>
</section>