<section class='second-banner'>
    <div class='container second-banner__container'>
        <div class="second-banner__text-box">
            <h2 class="block-title second-banner__title">
                Станьте дилером OKATEC — зарабатывайте на промышленной автоматизации!
            </h2>

            <ul class="second-banner__ul">
                <li>
                    Выгодные дилерские условия и персональные скидки
                </li>
                <li>
                    Собственный бренд с конкурентоспособными ценами
                </li>
                <li>
                    Обучение, маркетинг-киты и рекламная поддержка
                </li>
                <li>
                    Эксклюзивные территории для проверенных партнеров
                </li>
            </ul>

            <button class="btn second-banner__btn">
                Хочу стать дилером!
            </button>
        </div>

        <div class="second-banner__img-box">
            <div class="second-banner__bg">
                <img class='img-bg desc' src='@img/second-banner-bg-1.png' alt='' loading='lazy'>

                <img class='img-bg mob' src='@img/second-banner-bg-2.png' alt='' loading='lazy'>

            </div>

            <div class="second-banner-img">
                <img class='img-bg' src='@img/second-banner-img-1.png' alt='' loading='lazy'>
            </div>
        </div>

    </div>
</section>