<div class='services'>
    <div class='container services__container'>

        <div class="services__card-box">
            <div class="services__card">
                <div class="services__card-top">
                    <div class="services__card-title">
                        Разработка и сборка шкафов управления
                    </div>

                    <a href="#" class="btn services__card-link">
                        Заказать
                    </a>
                </div>

                <div class="services__card-img">
                    <img width='310' height='421' class='img-bg' src='@img/services-img-1.png' alt='' loading='lazy'>
                </div>
            </div>

            <div class="services__card">
                <div class="services__card-top">
                    <div class="services__card-title">
                        Программирование
                    </div>

                    <a href="#" class="btn services__card-link">
                        Заказать
                    </a>
                </div>

                <div class="services__card-img">
                    <img width='310' height='421' class='img-bg' src='@img/services-img-2.png' alt='' loading='lazy'>
                </div>
            </div>

            <div class="services__card">
                <div class="services__card-top">
                    <div class="services__card-title">
                        Разработка SCADA систем
                    </div>

                    <a href="#" class="btn services__card-link">
                        Заказать
                    </a>
                </div>

                <div class="services__card-img">
                    <img width='310' height='421' class='img-bg' src='@img/services-img-3.png' alt='' loading='lazy'>
                </div>
            </div>

            <div class="services__card">
                <div class="services__card-top">
                    <div class="services__card-title">
                        Пуско-наладочные работы
                    </div>

                    <a href="#" class="btn services__card-link">
                        Заказать
                    </a>
                </div>

                <div class="services__card-img">
                    <img width='310' height='421' class='img-bg' src='@img/services-img-4.png' alt='' loading='lazy'>
                </div>
            </div>
        </div>

    </div>
</div>