<section class='we-are-chosen'>
    <div class='container we-are-chosen__container'>

        <div class="title-box">
            <h2 class="block-title we-are-chosen__title">
                Нас выбирают промышленные предприятия и интеграторы
            </h2>

            <a href="#" class="btn we-are-chosen__btn">
                Показать еще
            </a>
        </div>

        <div class='we-are-chosen__card-box'>
            <div class='we-are-chosen__card'>
                <div class="we-are-chosen__card-img">
                    <img class='img-bg' src='@img/we-are-chosen-img-1.png' alt='' loading='lazy'>
                </div>


                <a href="#" class="btn btn-second we-are-chosen__card-link">
                    Подробнее
                </a>
            </div>

            <div class='we-are-chosen__card'>
                <div class="we-are-chosen__card-img">
                    <img class='img-bg' src='@img/we-are-chosen-img-2.png' alt='' loading='lazy'>
                </div>


                <a href="#" class="btn btn-second we-are-chosen__card-link">
                    Подробнее
                </a>
            </div>

            <div class='we-are-chosen__card'>
                <div class="we-are-chosen__card-img">
                    <img class='img-bg' src='@img/we-are-chosen-img-3.png' alt='' loading='lazy'>
                </div>


                <a href="#" class="btn btn-second we-are-chosen__card-link">
                    Подробнее
                </a>
            </div>

            <div class='we-are-chosen__card'>
                <div class="we-are-chosen__card-img">
                    <img class='img-bg' src='@img/we-are-chosen-img-4.png' alt='' loading='lazy'>
                </div>


                <a href="#" class="btn btn-second we-are-chosen__card-link">
                    Подробнее
                </a>
            </div>

            <div class='we-are-chosen__card'>
                <div class="we-are-chosen__card-img">
                    <img class='img-bg' src='@img/we-are-chosen-img-5.png' alt='' loading='lazy'>
                </div>


                <a href="#" class="btn btn-second we-are-chosen__card-link">
                    Подробнее
                </a>
            </div>

            <div class='we-are-chosen__card'>
                <div class="we-are-chosen__card-img">
                    <img class='img-bg' src='@img/we-are-chosen-img-6.png' alt='' loading='lazy'>
                </div>


                <a href="#" class="btn btn-second we-are-chosen__card-link">
                    Подробнее
                </a>
            </div>

            <div class='we-are-chosen__card'>
                <div class="we-are-chosen__card-img">
                    <img class='img-bg' src='@img/we-are-chosen-img-5.png' alt='' loading='lazy'>
                </div>


                <a href="#" class="btn btn-second we-are-chosen__card-link">
                    Подробнее
                </a>
            </div>

            <a href="#" class='we-are-chosen__card we-are-chosen__card-more'>
                <div class="we-are-chosen__card-more-text">
                    показать еще
                </div>

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 3L21.931 21.931" stroke="white" stroke-width="2.8046" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M21.931 3V21.931H3" stroke="white" stroke-width="2.8046" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </a>

        </div>
    </div>
</section>