//=============================внешние импорты===================================

@use "sass:map";
@use "sass:meta";
@use "sass:math";
//=============================рутовые стили===================================
@use "./main/mixins-vars"as *; // импортируем с пространством имен
@use "./main/fonts";
@use "./main/reset";
@use "./main/root";
@use "./main/typography";
@use "./main/vendor";

//================Импорты компонентов=====================
@use "./components/header.scss";
@use "./components/_hero.scss";
@use "./components/choice.scss";
@use "./components/_banner.scss";
@use "./components/_catalog-prev.scss";
@use "./components/_industries.scss";
@use "./components/_technologies.scss";
@use "./components/_main-form.scss";
@use "./components/_partner.scss";
@use "./components/_steps.scss";
@use "./components/_cases.scss";
@use "./components/_second-banner.scss";
@use "./components/_we-are-chosen.scss";
@use "./components/_documents.scss";
@use "./components/_articles-prev.scss";
@use "./components/_OKATEC-Inverters.scss";
@use "./components/_category-section.scss";
@use "./components/_products-list.scss";
@use "./components/_сonfigurator.scss";
@use "./components/_why-choose.scss";
@use "./components/_replacing-brands.scss";
@use "./components/catalog-detail";
@use "./components/catalog-detail-tabs.scss";
@use "./components/basket.scss";
@use "./components/about.scss";
@use "./components/second-form.scss";
@use "./components/how-it-works.scss";
@use "./components/services.scss";
@use "./components/production.scss";
@use "./components/projects";
@use "./components/news";

@use "./components/footer.scss";

//================Атомарные стили=====================
@use "./vendor/atomar.scss";

//========основные стили============
body {
    font-family: var(--font-family);
}

section {
    margin-bottom: clamp-px(40, 80);
}